# .gitignore

__pycache__/
.ipynb_checkpoints/
.app.py.swp
tesser-test.ipynb
handles_dataset.py

Models/
Models_all/
Source/__pycache__/
Source/.ipynb_checkpoints/
Source/Classification/
Source/NER_System/
Source/support.ipynb

pgdata/
happy_pgdata/
Utility/
Verifying/
Data/
uploads/

happy.rar
