<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система Обработки Документов</title>
</head>
<body>
    <h1>Система Обработки Документов</h1>
    <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
        <label for="file">Выберите файл:</label>
        <input type="file" name="file" id="file">
        <button type="submit">Обработать</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <br>
    <a href="{{ url_for('results') }}">Просмотреть результаты</a>

    <h2>Обработанные документы</h2>
    <table border="1">
	<thead>
	    <tr>
		<th>ID</th>
		<th>Имя файла</th>
		<th>Дата создания</th>
	    </tr>
	</thead>
	<tbody>
	    {% for doc in documents %}
	        <tr>
		    <td>{{ doc[0] }}</td>
		    <td><a href="">{{ doc[1] }}</a></td>
		    <td>{{ doc[2] }}</td>
	        </tr>
	    {% else %}
	        <tr>
		    <td colsnap="4">База данных пуста</td>
		</tr>
	    {% endfor %}
	</tbody>
    </table>

</body>
</html>
